/***VARIABLES***/
:root {
    /*WIDTH*/
    --container-max:1140px;
    
    /*FONT SIZE*/
    --font-size-default:1.5rem;
    --font-size-h1:3.6rem;
    --font-size-h2:2.4rem;
    --font-size-h3:1.8rem;
    
    /*LINE HEIGHT*/
    --line-height-default:2rem;
    
    /*FONT FAMILY*/
    --font-default:"Open Sans",sans-serif;
    --font-titles:"Raleway", sans-serif;
    
    /*COLORS*/
    --color-page:#eee;
    --color-grey-element:#eee;
    --color-header-bg:#0c6588;
    --color-menu-bg:#e2f7ff;
    --color-main-bg:#fff;
    --color-footer-bg:#333;
    --color-titles:#333;
    --color-text-default:#555;
    --color-text-header:#e2f7ff;
    --color-text-footer:#ddd;
    --color-link-button:#0c6588;
    --color-link-button-hover:#000;
    --color-link-footer:#eee;
    
    /*BORDERS*/
    --border-small:1px solid #eee;
    --border-medium:1px solid #ddd;
    --border-large:2px solid #ccc;
    
    /*SHADOWS*/
    --shadow-small: 0 0 1px rgba(0,0,0,0.2);
    --shadow-medium: 0 0 3px rgba(0,0,0,0.3);
    --shadow-large: 0 0 5px rgba(0,0,0,0.4);
    --shadow-xl: 0 10px 20px rgba(0,0,0,0.5);
    
    /*DARK MODE*/
    --dk-color-page:#222;
    --dk-color-grey-element:#444;
    --dk-color-menu-bg:#0c6588;
    --dk-color-main-bg:#333;
    --dk-color-footer-bg:#333;
    --dk-color-titles:#fff;
    --dk-color-text-default:#ddd;
    --dk-color-link-button:#e2f7ff;
    --dk-color-link-button-hover:#fff;
    --dk-border-small: 1px solid #666;
    --dk-border-medium: 1px solid #555;
    --dk-border-large: 2px solid #444;
    
    /*XL LINE HEIGHT*/
    --font-xl:1.6rem;
    --line-height-xl:3rem;
}


/***GENERAL***/
html {
    font-size:62.5%;
    scroll-behavior:smooth;
}
body {
    margin:0;
    padding:0;
    font-family:var(--font-default);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:var(--color-text-default);
    background-color: var(--color-page);
    line-height:var(--line-height-default);
    font-size:var(--font-size-default);
}
.dark {
    color:var(--dk-color-text-default);
    background-color: var(--dk-color-page);
}
.line-height-xl {
    line-height:var(--line-height-xl);
    font-size:var(--font-xl);
}
.Container {
    max-width:var(--container-max);
    width:90%;
    margin:0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/***HEADER***/
.Header {
    background-image: url(../ressources/images/header.jpg);
    background-size: cover;
    background-position: center;
    background-color: var(--color-header-bg);
}

    /*ACCESSIBILITY*/
    .Header .Accessibility {
        display:flex;
        justify-content:space-around;
        background-color: var(--color-menu-bg);
    }
    .Header .Accessibility button {
        font-size:var(--font-size-default);
        color:var(--color-link-button);
        background-color: var(--color-menu-bg);
        border:none;
    }
    .Header .Accessibility button:hover {
        color:var(--color-link-button-hover);
    }
        /*DARK MODE*/
        .dark .Header .Accessibility {
            background-color: var(--dk-color-menu-bg);
        }
        .dark .Header .Accessibility button {
            color:var(--dk-color-link-button);
            background-color: var(--dk-color-menu-bg);
        }
        .dark .Header .Accessibility button:hover {
            color:var(--dk-color-link-button-hover);
        }
    
    /*ACTIONS*/
    .Actions {
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .Actions a {
        color:var(--color-text-header);
        text-decoration:none;
    }
    .Actions .title {
        margin:2em 0;
    }
    .Actions h1 {
        margin:0;
        font-family:var(--font-titles);
        font-size:var(--font-size-h1);
        color:var(--color-text-header);
    }
    .Actions .title img {
        width:20%;
        float:left;
        padding-right:1em;
    }
    /*.Actions h1::before {
        content:url(../ressources/images/logo.svg);
        display:block;
        width:30%;
        float:left;
        padding:1em;
    }*/
    .Actions form {
        width:40%;
        padding:1em;
        border-radius:50px;
        border:var(--border-small);
        background-color: rgba(255,255,255,.3);
    }
    .Actions form input {
        width: 50%;
        font-size:1.2rem;
        color:var(--color-text-header);
        background: none;
        border:none;
    }
    
    ::placeholder {
        color:var(--color-text-header);
    }
    .Actions form label:nth-of-type(2)::before {
        content:"❯❯❯";
        color:var(--color-text-header);
    }
    .Actions form select {
        width: 30%;
        font-size:1.2rem;
        color:var(--color-text-header);
        background: none;
        border:none;
    }
    .Actions form select option {
        color:var(--color-text-default);
    }
    .Actions form button {
        vertical-align:middle;
        background:transparent;
        border:none;
        color:var(--color-text-header);
    }
    .Actions form .icon-search {
        font-size:var(--font-size-h3);
    }
    .Actions .Boutons {
        display:flex;
        gap:1em;
    }
    .Actions .Boutons span {
        display:block;
        font-size:var(--font-size-h1);
        text-align:center;
    }
    
    
    /*MENU*/
    .Menu span[class*="icon"] {
        font-size:var(--font-size-h3);
        padding-right:.5em;
    }
    .Menu .categories {
        position:relative;
        display:flex;
        padding:0;
        margin:0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color:var(--color-link-button);
        background-color: var(--color-menu-bg);
    }
    .Menu .categories > li {
        /*position:relative;*/
        width:100%;
        padding:1em .5em;
        text-align:center;
        list-style:none;
        background-color: var(--color-menu-bg);
    }
    .Menu .categories > li:hover {
        color:var(--color-text-default);
        background-color: #fff;
    }
    .Menu .categories .subnav {
        position:absolute;
        /*top:0;*/
        left:0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        /*display:none;*/
        visibility:hidden;
        display:flex;
        width:100%;
        padding:1em;
        margin-top:1em;
        text-align:left;
        list-style:none;
        background-color: #fff;
        box-shadow:var(--shadow-xl);
    }
    .Menu .categories > li:hover > .subnav {
        visibility:visible;
    }
    .Menu .categories .subnav > li {
        width:25%;
        padding:0;
        font-size:var(--font-size-h2);
        color:var(--color-text-default);
    }
    .Menu .categories .subnav .submenu {
        padding:2em 0 0 0;
        font-size:var(--font-size-default);
        list-style:none;
    }
    .Menu .categories .subnav .submenu a {
        color:var(--color-link-button);
        text-decoration:none;
    }
    .Menu .categories .subnav .submenu a:hover {
        color:var(--color-link-button-hover);
    }
    
        /*DARK MODE*/
        .dark .Menu .categories {
            color:var(--dk-color-link-button);
            background-color: var(--dk-color-menu-bg);
        }
        .dark .Menu .categories > li {
            background-color: var(--dk-color-menu-bg);
        }
        .dark .Menu .categories > li:hover {
            color:var(--dk-color-text-default);
            background-color: var(--dk-color-page);
        }
        .dark .Menu .categories .subnav {
            background-color: var(--dk-color-page);
        }
        .dark .Menu .categories .subnav > li {
            color:var(--dk-color-text-default);
        }
        .dark .Menu .categories .subnav .submenu a {
            color:var(--dk-color-link-button);
        }
        .dark .Menu .categories .subnav .submenu a:hover {
            color:var(--dk-color-link-button-hover);
        }
        
/***MAIN***/
main {
    padding:1em;
    background-color: var(--color-main-bg);
}
    /*DARK MODE*/
    .dark main {
        background-color: var(--dk-color-main-bg);
    }
    
    
    /***TITRES***/
    main h3 {
        grid-area:titre;
        display:block;
        font-family:var(--font-titles);
        font-size:var(--font-size-h1);
        font-weight:normal;
    }
    main h3::after {
        /*Faire les points*/
        content:"";
        position:relative;
        z-index:2;
        display:block;
        width:100%;
        border-bottom:1rem dotted var(--color-grey-element);
    }
    
    
    /***BREADCRUMBS***/
    .breadcrumbs {
        display:flex;
        list-style:none;
        padding:0;
        margin-bottom:4em;
    }
    .breadcrumbs li {
        padding:0 .5em;
    }
    .breadcrumbs li + li::before {
        content:"❯";
        padding-right:.5em;
        color:var(--color-link-button);
    }
    .breadcrumbs a {
        color:var(--color-link-button);
    }
    .breadcrumbs span {
        padding-right:.5em;
        color:var(--color-link-button);
    }
    .breadcrumbs li:hover a,
    .breadcrumbs li:hover span {
        color:var(--color-link-button-hover);
    }
        /*DARK MODE*/
        .dark .breadcrumbs li + li::before,
        .dark .breadcrumbs a,
        .dark .breadcrumbs span {
            color:var(--dk-color-link-button);
        }
        .dark .breadcrumbs li:hover a,
        .dark .breadcrumbs li:hover span {
            color:var(--dk-color-link-button-hover);    
        }
    
    /***NOM PRODUIT***/
    .Product-name h2 {
        /*margin-top:;*/
        font-family:var(--font-titles);
        font-size:var(--font-size-h1);
        font-weight:normal;
    }
    .Product-name ul {
        display:flex;
        list-style:none;
        padding:0;
    }
    .Product-name ul li {
        padding-right:2em;
    }
    .Product-name ul li a {
        color:var(--color-link-button);
    }
    .Product-name ul li a:hover {
        color:var(--color-link-button-hover);
    }
    
        /*DARK MODE*/
        .dark .Product-name ul li a {
            color:var(--dk-color-link-button);
        }
        .dark .Product-name ul li a:hover {
            color:var(--dk-color-link-button-hover);
        }
        
    
    /***PRESENTATION***/
    .Product-presentation {
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-areas:
        "titre titre"
        "tags tags"
        "gallery infos";
    }
    /*.Product-presentation h3 {*/
    /*    grid-area:titre;*/
    /*    display:block;*/
    /*    font-family:var(--font-titles);*/
    /*    font-size:var(--font-size-h1);*/
    /*    font-weight:normal;*/
    /*}*/
    /*.Product-presentation h3::after {*/
        /*Faire les points*/
    /*    content:"";*/
    /*    position:relative;*/
    /*    z-index:2;*/
    /*    display:block;*/
    /*    width:100%;*/
    /*    border-bottom:1rem dotted var(--color-grey-element);*/
    /*}*/
    /*.Product-presentation .tags {*/
        grid-area:tags;
        display:flex;
        list-style:none;
        padding:0;
    }
    .Product-presentation .tags li {
        margin:0 1em;
    }
    .Product-presentation .Info .brand::before {
        content:url(../ressources/images/brand-1/logo-sm.png);
        padding-right:3em;
    }
    .Product-presentation .Info .Call {
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-areas:
        "price cart"
        "waranty waranty";
        /*padding:1em;*/
        background-color: var(--color-grey-element);
    }
    .Product-presentation .Info .price {
        grid-area:price;
        text-align:center;
        padding:1em 0;
    }
    .Product-presentation .Info .price p:first-of-type {
        font-size:var(--font-size-h1);
        margin:.5em 0 0 0;
    }
    .Product-presentation .Info .cart {
        grid-area:cart;
        margin:1em;
    }
    .Product-presentation .Info .cart .buy {
        width:100%;
        font-size:var(--font-size-h3);
        color:var(--color-text-header);
        background-color: var(--color-link-button);
        border:none;
        padding:.8em;
        cursor:pointer;
    }
    .Product-presentation .Info .cart .want {
        width:100%;
        font-size:var(--font-size-default);
        color:var(--color-link-button);
        background-color: var(--color-main-bg);
        border:none;
        padding:.7em;
        cursor:pointer;
    }
    .Product-presentation .Info .waranty {
        grid-area:waranty;
        margin:0;
        padding:1.5em;
        text-align:center;
        background-color: #D6D6D6;
    }